.container {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-bottom: 150px;
  width: 65vw;
}
.description-container {
  display: flex;
  gap: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4vw;
}

.get {
  color: grey;
}

img {
  height: 20vh;
}

.education {
  margin-top: 50px;
}
