.container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.description-container {
  display: flex;
}

.about-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 8vw;
}

.get {
  color: grey;
}
