.about-container-large {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjust height for responsive layout */
  font-family: "Space Grotesk";
  height: 100vh;
}

.description-container {
  display: flex;
  flex-direction: row; /* Default to row for larger screens */
  gap: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 6vw; /* Adjust font size based on viewport width */
  font-weight: 800;
}

.get {
  color: grey;
  font-size: 1.5rem;
}

img {
  height: 15vh; /* Adjust height for responsiveness */
}

.education {
  margin-top: 5vh;
  font-size: 1.2rem;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .about-container-large {
    margin-left: 5vw;
    width: 90vw;
  }

  .description-container {
    flex-direction: column; /* Stack content vertically for smaller screens */
    gap: 30px;
  }

  h1 {
    font-size: 8vw; /* Adjust heading size for smaller screens */
  }

  img {
    height: 12vh; /* Scale image for smaller screens */
  }

  .get {
    font-size: 1.2rem;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .about-container-large {
    margin-left: 3vw;
    width: 95vw;
  }

  .description-container {
    gap: 20px;
  }

  h1 {
    font-size: 10vw; /* Increase heading size for small screens */
  }

  img {
    height: 10vh; /* Scale image further for mobile */
  }

  .get {
    font-size: 1rem;
  }

  .education {
    font-size: 1rem;
  }
}
