* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.app-container {
  width: 100vw;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-section {
  scroll-margin-top: 200px;
}

.skills-app {
  scroll-margin-top: 80px;
}

.about-section {
  scroll-margin-top: 80px;
}

.projects-section {
  scroll-margin-top: 80px;
}

.contact-app {
  scroll-margin-top: 80px;
}
