* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.app-container {
  width: 100vw;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-app {
  scroll-margin-top: 10vh;
}

.about-section {
  scroll-margin-top: 10vh;
}

.experience-section {
  scroll-margin-top: 10vh;
}

.everything-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.outer-everything {
  width: 100%;
  display: flex;
  justify-content: center;
}
