.contact-container {
  margin-top: 10vw;
  margin-bottom: 20vh;
  font-family: "Space Grotesk";
  display: flex;
  flex-direction: column;
}

.git,
.res,
.email,
.lin {
  color: black;
}

a {
  text-decoration: none;
}

.info-container-contact {
  flex-direction: column;
  display: flex;
}

.info-container-contact li {
  align-self: flex-start;
  display: flex;
}

.school-email {
  color: black;
}
