.projects {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 5%;
  gap: 2vh;
}

.card-container {
  padding: 1rem;
  border: 3px solid black;
  display: flex;
  border-radius: 10px;
  gap: 1vw;
}

.loo {
  width: 50%;
  height: auto;
  object-fit: cover; /* Prevents image distortion */
  margin: 0;
  padding: 0;
}

.header-desc {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.loo-skills {
  display: flex;
  gap: 1vw;
}

.loo-skill-item {
  height: 5vh;
}

.box-header {
  display: flex;
  justify-content: space-between;
}
